@model (MemberUser User, string Role)

<form asp-controller="Members" asp-action="ToggleRole" asp-route-id="@Model.User.Id" method="post" class="d-inline">
    <input type="hidden" name="role" value="@Model.Role">
    <div class="form-check">
        <input class="form-check-input" id="grant-@Model.Role" type="checkbox" name="value" value="true" checked="@Model.User.UserRoles.Any(r => r.Role.Name == Model.Role)" onchange="form.submit()" />
        <label class="form-check-label" for="grant-@Model.Role">
            @Model.Role
        </label>
    </div>
</form>