@model (MemberUser User, string Role)

<form asp-controller="Members" asp-action="ToggleRole" method="post" class="mb-3">
    <input type="hidden" name="email" value="@Model.User.Email">
    <input type="hidden" name="role" value="@Model.Role">
    @if(Model.User.UserRoles.Any(r => r.Role.Name == Model.Role))
    {
        <button class="btn btn-danger" type="submit" name="value" value="false">Revoke @Model.Role role</button>
    }
    else
    {
        <button class="btn btn-success" type="submit" name="value" value="true">Grant @Model.Role role</button>
    }
</form>