@model MemberUser

@{
    ViewData["Title"] = Model.FullName;
}

<h2>@ViewData["Title"]</h2>
<h3>@Model.Email</h3>

<hr>

<h5 class="d-flex justify-content-between">
    <span>
        @if(Model.HasPayedMembershipThisYear())
        {
            @: <span style="color: #0a0">&#x2713;</span> Medlemskap betalt
        }
        else
        {
            @: <span style="color: #d00">&#x2718;</span> Medlemskap ikke betalt
        }
    </span>
    <span>
        @if(Model.HasPayedTrainingFeeThisSemester())
        {
            @: <span style="color: #0a0">&#x2713;</span> Treningsavgift
        }
        else
        {
            @: <span style="color: #d00">&#x2718;</span> Treningsavgift ikke betalt
        }
    </span>
    <span>
        @if(Model.HasPayedClassesFeeThisSemester())
        {
            @: <span style="color: #0a0">&#x2713;</span> Kursavgift
        }
        else
        {
            @: <span style="color: #d00">&#x2718;</span> Kursavgift ikke betalt
        }
    </span>
</h5>
<hr>

<div class="card-deck">
    <partial name="_Payments" for="Payments">
    @if(User.IsInRole(Roles.ADMIN))
    {
        <div class="card">
            <h3 class="card-header">
                Rettigheter
            </h3>
            <div class="card-body">
                <partial name="_Role" model="(Model, Roles.ADMIN)" />
                <partial name="_Role" model="(Model, Roles.COORDINATOR)" />
                <hr />
                <form asp-controller="Members" asp-action="SetExemptions" asp-route-id="@Model.Id" method="post" class="form">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="ExemptFromTrainingFee" onchange="form.submit()" />
                        <label class="form-check-label" asp-for="ExemptFromTrainingFee">Fritatt fra treningsavgift</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" asp-for="ExemptFromClassesFee" onchange="form.submit()"/>
                        <label class="form-check-label" asp-for="ExemptFromClassesFee">Fritatt fra kursavgift</label>
                    </div>
                </form>
            </div>
        </div>
    }
</div>