/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  height: 100%;
}

body {
  font-family: "Lato";
  height: 100%;
  display: flex;
  flex-direction: column;
}

body.cover {
  background: url(/img/background.jpg) center no-repeat fixed;
  background-size: cover;
}

body>.container {
  flex: 1 1 auto;
}

.footer {
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.navbar {
  background: #27364c;
  font-size: 1.25rem;
}

.navbar-brand img {
  height: 3em;
}

.navbar .nav-link.btn.btn-link {
  font-size: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Voltaire";
}

.line-through {
    text-decoration: line-through;
}

.card-columns.card-columns-2 {
    column-count: 1;
}

@media (min-width: 576px) {
    .card-columns.card-columns-2 {
        column-count: 2;
    }
}

[data-hidden] {
    display: none;
}

.priority-group {
    counter-reset: priority;
}

.priority:before {
    counter-increment: priority;
    content: counter(priority) ". ";
    color: grey;
    font-variant-numeric: lining-nums;
}

.sort-drag {
    cursor: grab;
}

details[open] summary .non-open-summary {
    display: none;
}

.link-unstyled, .link-unstyled:visited, .link-unstyled:hover, .link-unstyled:active, .link-unstyled:focus, .link-unstyled:active:hover {
    font-style: inherit;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
    border-radius: inherit;
    border: inherit;
    outline: inherit;
    box-shadow: inherit;
    padding: inherit;
    vertical-align: inherit;
}

.container-fluid .overflow-container {
    margin-top: -1rem;
    padding-top: 1rem;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 1rem;
}

.dark-tabs {
    background: #cbd3d9;
}

.dark-tabs .nav-link.active,
.dark-tabs .nav-link:hover,
.dark-tabs .nav-link:active {
    background: #f8f9fa !important;
    border-bottom-color: #fff;
}

.nowrap-tabs {
    overflow: auto hidden;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.markdown img {
    max-width: 100%
}

.text-ellipsis {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.signin-Microsoft {
    border: 1px solid #8C8C8C;
    color: #5e5e5e;
    background-color: white;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMSIgaGVpZ2h0PSIyMSI+PHJlY3QgeD0iMSIgeT0iMSIgd2lkdGg9IjkiIGhlaWdodD0iOSIgZmlsbD0iI2YyNTAyMiIvPjxyZWN0IHg9IjEiIHk9IjExIiB3aWR0aD0iOSIgaGVpZ2h0PSI5IiBmaWxsPSIjMDBhNGVmIi8+PHJlY3QgeD0iMTEiIHk9IjEiIHdpZHRoPSI5IiBoZWlnaHQ9IjkiIGZpbGw9IiM3ZmJhMDAiLz48cmVjdCB4PSIxMSIgeT0iMTEiIHdpZHRoPSI5IiBoZWlnaHQ9IjkiIGZpbGw9IiNmZmI5MDAiLz48L3N2Zz4=');
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: .25em center;
    padding-left: 2em;
}

.signin-Facebook {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1792" height="1792"><path fill="white" d="M1376 128q119 0 203.5 84.5T1664 416v960q0 119-84.5 203.5T1376 1664h-188v-595h199l30-232h-229V689q0-56 23.5-84t91.5-28l122-1V369q-63-9-178-9-136 0-217.5 80T948 666v171H748v232h200v595H416q-119 0-203.5-84.5T128 1376V416q0-119 84.5-203.5T416 128h960z"/></svg>');
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: .25em center;
    padding-left: 2em;
}

.overflow-auto {
    overflow: auto;
}