/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  height: 100%;
}

body {
  font-family: "Lato";
  height: 100%;
  display: flex;
  flex-direction: column;
}

body.cover {
  background: url(/img/background.jpg) center no-repeat fixed;
  background-size: cover;
}

body>.container {
  flex: 1 1 auto;
}

.footer {
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.navbar {
  background: #27364c;
  font-size: 1.25rem;
}

.navbar-brand img {
  height: 3em;
}

.navbar .nav-link.btn.btn-link {
  font-size: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Voltaire";
}

.badge-up {
    font-size: .5em;
    margin-left: -1em;
    vertical-align: super;
}

.line-through {
    text-decoration: line-through;
}

.card-columns.card-columns-2 {
    column-count: 1;
}

@media (min-width: 576px) {
    .card-columns.card-columns-2 {
        column-count: 2;
    }
}

[data-hidden] {
    display: none;
}

.priority-group {
    counter-reset: priority;
}

.priority:before {
    counter-increment: priority;
    content: counter(priority) ". ";
    color: grey;
    font-variant-numeric: lining-nums;
}

.sort-drag {
    cursor: grab;
}

details[open] summary .non-open-summary {
    display: none;
}

.link-unstyled, .link-unstyled:visited, .link-unstyled:hover, .link-unstyled:active, .link-unstyled:focus, .link-unstyled:active:hover {
    font-style: inherit;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
    border-radius: inherit;
    border: inherit;
    outline: inherit;
    box-shadow: inherit;
    padding: inherit;
    vertical-align: inherit;
}

.container-fluid .overflow-container {
    margin-top: -1rem;
    padding-top: 1rem;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 1rem;
}

.dark-tabs {
    background: #cbd3d9;
}

.dark-tabs .nav-link.active,
.dark-tabs .nav-link:hover,
.dark-tabs .nav-link:active {
    background: #f8f9fa !important;
    border-bottom-color: #fff;
}

.nowrap-tabs {
    overflow: auto hidden;
    white-space: nowrap;
    flex-wrap: nowrap;
    border-bottom: none;
}

.nowrap-tabs .nav-item {
    margin-bottom: 0;
}

.nowrap-tabs .nav-item .nav-link:not(.active) {
    border-bottom: 1px solid #dee2e6;
}


.overflow-container.nowrap-tabs::before {
    content: ' ';
    margin-left: -15px;
    border-bottom: 1px solid #dee2e6;
    width: 15px;
}

.overflow-container.nowrap-tabs::after {
    content: ' ';
    border-bottom: 1px solid #dee2e6;
    flex: 1 0 auto;
    margin-right: -15px;
}

.card-header.nowrap-tabs .card-header-tabs::before {
    content: ' ';
    margin-left: -0.625rem;
    border-bottom: 1px solid #dee2e6;
    width: 0.625rem;
}

.card-header.nowrap-tabs .card-header-tabs::after {
    content: ' ';
    border-bottom: 1px solid #dee2e6;
    flex: 1 0 auto;
    margin-right: -0.625rem;
}

.markdown img {
    max-width: 100%
}

.text-ellipsis {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.signin-Microsoft {
    border: 1px solid #8C8C8C;
    color: #5e5e5e;
    background-color: white;
}
.signin-Microsoft span {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMSIgaGVpZ2h0PSIyMSI+PHJlY3QgeD0iMSIgeT0iMSIgd2lkdGg9IjkiIGhlaWdodD0iOSIgZmlsbD0iI2YyNTAyMiIvPjxyZWN0IHg9IjEiIHk9IjExIiB3aWR0aD0iOSIgaGVpZ2h0PSI5IiBmaWxsPSIjMDBhNGVmIi8+PHJlY3QgeD0iMTEiIHk9IjEiIHdpZHRoPSI5IiBoZWlnaHQ9IjkiIGZpbGw9IiM3ZmJhMDAiLz48cmVjdCB4PSIxMSIgeT0iMTEiIHdpZHRoPSI5IiBoZWlnaHQ9IjkiIGZpbGw9IiNmZmI5MDAiLz48L3N2Zz4=');
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: .25em center;
    padding-left: 2em;
}

.signin-Facebook {
    background-color: #007bff;
    color: white;
}
.signin-Facebook span {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1792" height="1792"><path fill="white" d="M1376 128q119 0 203.5 84.5T1664 416v960q0 119-84.5 203.5T1376 1664h-188v-595h199l30-232h-229V689q0-56 23.5-84t91.5-28l122-1V369q-63-9-178-9-136 0-217.5 80T948 666v171H748v232h200v595H416q-119 0-203.5-84.5T128 1376V416q0-119 84.5-203.5T416 128h960z"/></svg>');
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: .25em center;
    padding-left: 2em;
}

.signin-Vipps {
    background-color: #ff5b24;
    color: white;
}
.signin-Vipps span {
    background-image: url('data:image/svg+xml;utf8,<svg fill="none" height="16" viewBox="0 -4 64 20" width="64" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="m64 3.83839c-.7202-2.74771-2.4686-3.83839-4.8553-3.83839-1.9336 0-4.3605 1.09068-4.3605 3.71715 0 1.69686 1.1723 3.03045 3.0852 3.37402l1.8103.32301c1.2344.22211 1.5842.68692 1.5842 1.31323 0 .70706-.7612 1.11103-1.8926 1.11103-1.4809 0-2.4067-.5252-2.5508-2.00016l-2.6124.40419c.4112 2.84833 2.9619 4.02043 5.2658 4.02043 2.1808 0 4.5053-1.2528 4.5053-3.77796 0-1.71743-1.0494-2.96961-3.0036-3.33375l-1.9951-.36327c-1.1111-.20199-1.4812-.74754-1.4812-1.27275 0-.6668.7198-1.09068 1.7073-1.09068 1.255 0 2.1395.42388 2.1806 1.81787zm-58.075 4.32289 2.7149-7.858411h3.1884l-4.73144 11.656531h-2.3654l-4.73146-11.656312h3.18843zm16.6834-4.52488c0 .92918-.7406 1.57562-1.6047 1.57562-.864 0-1.6043-.64644-1.6043-1.57562 0-.92939.7403-1.57562 1.6043-1.57562.8641 0 1.6049.64623 1.6049 1.57562zm.4936 4.12135c-1.0699 1.37336-2.2013 2.32285-4.1967 2.32295-2.036 0-3.6204-1.21214-4.8546-2.98975-.4939-.72741-1.255-.88891-1.8105-.50507-.5142.36371-.6374 1.13138-.1645 1.79818 1.7073 2.56564 4.0729 4.06024 6.8294 4.06024 2.5305 0 4.5055-1.2119 6.0481-3.23217.5759-.74732.5553-1.515 0-1.93932-.5144-.40441-1.2755-.26239-1.8512.48494zm7.098-1.65681c0 2.384 1.3989 3.63662 2.9625 3.63662 1.4809 0 3.0034-1.17187 3.0034-3.63662 0-2.42449-1.5225-3.59592-2.9831-3.59592-1.5839 0-2.9828 1.11103-2.9828 3.59592zm0-4.18153v-1.596408h-2.9004v15.676998h2.9004v-5.576c.9669 1.2932 2.2217 1.8389 3.6409 1.8389 2.6541 0 5.2459-2.0608 5.2459-6.30311 0-4.06095-2.6948-5.95957116-4.9989-5.95957116-1.8309 0-3.0855.82807716-3.8879 1.91919116zm13.9275 4.18153c0 2.384 1.3987 3.63662 2.9623 3.63662 1.4809 0 3.0032-1.17187 3.0032-3.63662 0-2.42449-1.5223-3.59592-2.9828-3.59592-1.584 0-2.9829 1.11103-2.9829 3.59592zm0-4.18153v-1.596408h-.0002-2.9004v15.676998h2.9004v-5.576c.967 1.2932 2.2217 1.8389 3.641 1.8389 2.6539 0 5.2459-2.0608 5.2459-6.30311 0-4.06095-2.6948-5.95957116-4.999-5.95957116-1.8309 0-3.0854.82807716-3.8877 1.91919116z" fill="white" fill-rule="evenodd"/></svg>');
    background-size: 5em;
    background-repeat: no-repeat;
    background-position: .25em center;
    padding-left: 5.25em;
}

.overflow-auto {
    overflow: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.diagonal-label {
    position: absolute;
    transform: rotate(45deg);
    padding: .1em 10em;
    right: -9.5em;
}


ul.timeline {
    list-style-type: none;
}

ul.timeline li {
    position: relative;
    margin: 0;
    padding-bottom: 1em;
    padding-left: 20px;
}

ul.timeline li:before {
    content: '';
    background-color: #c00;
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 6px;
    width: 3px;
}

ul.timeline li:after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' viewBox='0 0 32 32' focusable='false'%3E%3Ccircle stroke='none' fill='%23c00' cx='16' cy='16' r='10'%3E%3C/circle%3E%3C/svg%3E");
    position: absolute;
    left: 0;
    top: 2px;
    height: 12px;
    width: 12px;
}