
@{
    ViewData["Title"] = "Oops";
    Layout = "~/Pages/_CoverLayout.cshtml";
}

<div class="card shadow mt-5">
    <h3 class="card-header">
        Ooops, noe gikk galt
    </h3>
    <div class="card-body">
        <p>
            Send en epost til pamelding@bardarSwingClub.no så skal vi se om vi kan finne ut hva som har skjedd.
        </p>
    </div>
</div>