
@{
    ViewData["Title"] = "Refundering gjennomført";
    Layout = "~/Pages/_CoverLayout.cshtml";
}

<div class="card shadow mt-5">
    <h3 class="card-header">
        Refundering OK
    </h3>
    <div class="card-body">
        <p>
            Refunderingen er påbegynt, og i løpet av noen dager eller en uke burde pengene være på kontoen din.
        </p>
    </div>
</div>