
@{
    ViewData["Title"] = "Refundering gjennomført";
    Layout = "~/Pages/_CoverLayout.cshtml";
}

<div class="card shadow mt-5">
    <h3 class="card-header">
        Refunderingen gjennomført
    </h3>
    <div class="card-body">
        <p>
            Det kan ta en uke før pengene kommer inn på konto.
        </p>
    </div>
</div>