@model EventStatusModel

<h2>Hei @Model.Name</h2>

<p>
    Du har ikke lenger plass på @Model.Title.
</p>

<p>
    Du har mistet plassen din på dette arrangementet. Du kan svare på denne eposten hvis det er noe du lurer på.
</p>

<i>Hilsen</i><br>
<i>Bårdar Swing Club</i>