@model EventStatusModel

<h2>Hei @Model.Name</h2>

<p>
    Du har desverre ikke fått plass på @Model.Title.
</p>

<p>
    Det var desverre ikke plass til alle på kurset denne gangen.
</p>

<i>Hilsen</i><br>
<i>Bårdar Swing Club</i>