@model EventStatusModel

<h2>Hei @Model.Name</h2>

<p>
    Du er på ventelisten til @Model.Title.
</p>

<p>
    Det er mange som ønsker å delta på @Model.Title og akkurat nå er det ikke plass til alle, så du er på ventelisten.
    Du vil få beskjed om det blir ledig plass til deg eller om det blir fult. <a href="@Model.Link">Her kan du se påmeldingsstatusen din</a>.
</p>

<i>Hilsen</i><br>
<i>Bårdar Swing Club</i>