@model MemberService.Pages.Event.Survey.CreateSurveyModel

@{
    ViewData["Title"] = Model.EventTitle;
    ViewData["ContainerClass"] = "container-fluid";
}

<vc:semester-header id="@Model.SemesterId"></vc:semester-header>
<vc:event-header id="@Model.EventId"></vc:event-header>

<div class="alert alert-info">
    <h5 class="alert-heading">
        Ingen spørreundersøkelse lagd
    </h5>
    <p>
        Vil du lage en spørreundersøkelse?
    </p>
    <form method="post" asp-controller="Questions" asp-action="Create" asp-route-id="@Model.EventId">
        <button type="submit" class="btn btn-success btn-lg">Opprett spørreundersøkelse</button>
    </form>
</div>