@{
    Layout = "_Layout.cshtml";
    ViewData["BodyClass"] = "cover";
}

@RenderSection("AboveCover", false)

<div class="row justify-content-md-center">
    <div class="@(ViewData["col-md-x"] ?? "col-md-6")">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", false)
}