@page
@using MemberService.Data.ValueTypes
@model MemberService.Pages.AnnualMeeting.NoMeetingModel

@{
    ViewData["Title"] = "Årsmøte";
    Layout = "~/Pages/_CoverLayout.cshtml";
}

<div class="card shadow mt-5">
    <h3 class="card-header">
        Ingen årsmøte planlagt
    </h3>
    <div class="card-body">
        <p>
            Det er ingen årsmøte planlagt i nærmeste fremtid
        </p>

        @if (await AuthorizationService.IsAuthorized(User, Policy.CanCreateAnnualMeeting))
        {
            <a asp-page="Create" class="btn btn-block btn-success">Opprett årsmøte</a>
        }
    </div>
</div>