@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
<!DOCTYPE html>
<html lang="nb">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lager - Bårdar Swing Club</title>
    <meta name="csrf-token" content="@Antiforgery.GetAndStoreTokens(Context).RequestToken" />
</head>
<body style="margin:0;padding:0;">
    @RenderBody()
    <script type="module" src="~/dist/inventory/assets/main.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/dist/inventory/assets/main.css" asp-append-version="true" />
</body>
</html>
