@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Ingen tilgang";
}

<div class="alert alert-danger">
    <h1 class="alert-heading">@ViewData["Title"]</h1>
    <p>Du har ikke tilgang hit. </p>
</div>
