@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Forbudt";
    Layout = "~/Pages/_CoverLayout.cshtml";
}

<div class="card mt-5 shadow">
    <h1 class="text-danger text-center card-header">@ViewData["Title"]</h1>
    <div class="card-body">
        <p class="text-center">Du har desverre ikke tilgang til å se denne siden</p>
    </div>
</div>
