@page
@model LoginModel

@{
    ViewData["Title"] = "Logg inn / bli medlem";
    Layout = "~/Pages/_CoverLayout.cshtml";
}

@section AboveCover
{
    @if (TempData.ContainsKey("InfoPopup"))
        {
            <div class="alert alert-info mb-5 shadow" role="alert">
                @TempData["InfoPopup"]
            </div>
    }
}

<div class="card mt-5 shadow">
    <h3 class="card-header">
        Logg inn / bli medlem
    </h3>
    <div class="card-body">
        <form method="post">
            <input type="hidden" asp-for="Input.ReturnUrl">
            <span asp-validation-summary="All" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" placeholder="epost@eksempel.no" autofocus />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success btn-block">Gå videre &#x27a4;</button>
        </form>
        <hr />
        <vc:external-login return-url="@Model.Input.ReturnUrl"></vc:external-login>
    </div>
</div>

