@page
@model LoginConfirmationModel
@{
    ViewData["Title"] = "Logg inn / bli medlem";
    Layout = "~/Pages/_CoverLayout.cshtml";
}

<form method="post" asp-controller="LoginCallback" asp-action="Index" class="card shadow">
    <h3 class="card-header">
        Logg inn / bli medlem
    </h3>
    <div class="card-body">

        @if (Model.ShowError)
        {
            <div class="alert alert-danger" role="alert">
                Klarte ikke logge inn, prøv på nytt eller <a asp-page="/Account/Login">trykk her</a> for å logge inn med en annen email.
            </div>
        }
        else
        {
            <div class="alert alert-info" role="alert">
                <h5 class="alert-heading">Du har fått en e-post!</h5>
                En e-post har blitt sendt til <strong>@Model.Input.Email</strong> med en seks-sifret kode for å logge inn. Fyll inn koden under eller trykk på linken i e-posten.
            </div>
        }

        <input type="hidden" asp-for="Input.ReturnUrl" />
        <input type="hidden" asp-for="Input.Email" />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.Code"></label>
            <input asp-for="Input.Code" class="form-control form-control-lg" placeholder="000000" style="letter-spacing: 10px; text-indent: 10px; text-align: center" maxlength="6" autofocus />
            <span asp-validation-for="Input.Code" class="text-danger"></span>
        </div>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-success btn-block">Logg inn</button>
    </div>
</form>
