@page
@model RegisterModel
@{
    ViewData["Title"] = "Opprett bruker";
    Layout = "~/Pages/_CoverLayout.cshtml";
}

<form method="post" class="card shadow">
    <h3 class="card-header">
        Opprett bruker
    </h3>
    <div class="card-body">
        <div class="alert alert-info" role="alert">
            <h5 class="alert-heading">Hei og velkommen til Bårdar Swing Club!</h5>
            Hva heter du? Fyll inn navn under og trykk på fullfør for å gå videre
        </div>
        <input type="hidden" asp-for="ReturnUrl" />
        <span asp-validation-summary="All" class="text-danger"></span>
        <div class="form-group">
            <label asp-for="FullName"></label>
            <input asp-for="FullName" class="form-control" autofocus onchange="$('.name-output').text(this.value)" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <h5>Hei <span class="name-output"></span></h5>
            <span class="text-muted text-small">
                Er det greit at vi kaller deg <span class="name-output"></span>? <a href="#" data-toggle="friendly-name-input">Nei</a>.
            </span>
        </div>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-success btn-block">Fullfør</button>
    </div>
</form>