@page

@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["col-md-x"] = "col-md-12";
    Layout = "~/Pages/_CoverLayout.cshtml";
}
<div class="card mt-5 shadow">
    <h1 class="card-header">Salgsbetingelser</h1>
    <div class="card-body">
        <p>
            Sist endret: 32. mars 2022
        </p>
        <p>
            Disse salgsbetingelsene gjelder kurs, workshops, varer og tjenester (produkter) hos Bårdar Swing Club ved kjøpt via vår nettside. Salgsbetingelsene utgjør sammen med din bestilling det samlede avtalegrunnlaget for kjøpet. Forbrukerkjøp over internett reguleres hovedsakelig av avtaleloven, forbrukerkjøpsloven, markedsføringsloven, angrerettloven og ehandelsloven, og disse lovene gir forbrukeren ufravikelige rettigheter. Lovene er tilgjengelig på <a href="https://lovdata.no">lovdata.no</a>. Vilkårene i denne avtalen skal ikke forstås som noen begrensning i de lovbestemte rettighetene, men oppstiller partenes viktigste rettigheter og plikter for handelen.
        </p>

        <h2>Avtalen</h2>

        <p>
            Avtalen består av disse salgsbetingelsene, opplysninger gitt i bestillingsløsningen og eventuelt særskilt avtalte vilkår. Ved eventuell motstrid mellom opplysningene, går det som særskilt er avtalt mellom partene foran, så fremt det ikke strider mot ufravikelig lovgivning.
        </p>
        <p>
            Avtalen vil i tillegg bli utfylt av relevante lovbestemmelser som regulerer kjøp av varer mellom næringsdrivende og forbrukere.
        </p>

        <h2>Partene</h2>

        <p>
            Selger er Bårdar Swing Club, info@bardarswingclub.no, org-nr: 984 120 435, og betegnes i det følgende som  selger/selgeren.
        </p>
        <p>
            Kjøper er den forbrukeren som foretar bestillingen, og betegnes i det følgende som  kjøper/kjøperen.
        </p>

        <h2>Pris</h2>

        <p>
            Den oppgitte prisen for varen og tjenester er den totale prisen kjøper skal betale. Denne prisen inkluderer alle avgifter og tilleggskostnader. Ytterligere kostnader som selger før kjøpet ikke har informert om, skal kjøper ikke bære.
        </p>

        <h2>Avtaleinngåelse</h2>

        <p>
            Avtalen er bindende for begge parter når bestillingen (og betalingen) er sendt til selgeren.
        </p>
        <p>
            Avtalen er likevel ikke bindende hvis det har forekommet skrive- eller tastefeil i tilbudet fra selgeren i bestillingsløsningen i nettbutikken eller i kjøperens bestilling, og den annen part innså eller burde ha innsett at det forelå en slik feil.
        </p>

        <h2>Betalingen</h2>

        <p>
            Kjøp må betales før plassen din på kurs er sikret. Ved manglende betaling kan plassen din på kurs bli gitt til noen andre.
        </p>

        <p>
            Betaling gjøres kun med bankkort eller Vipps, kjøp kan ikke gjøres med kontant betaling.
        </p>

        <h2>Levering</h2>

        <p>
            Levering er skjedd når kjøperen har deltat på kurs/arrangement. Når kurset går over flere dager regnes kjøpet som levert etter første dag med deltagelse av kjøper.
        </p>

        <h2>Angrerett</h2>

        <p>
            Angrerettsloven gir deg rett til å angre ditt kjøp ved netthandel. Angreretten gjelder kun for fysiske varer – ikke for påmelding til kurs, månedsabonnement, klippekort eller workshops. Kursavgifter refunderes vanligvis ikke (dette gjelder også workshops, minkurs og andre produkter vi tilbyr). Avbooking pga. sykdom kan refunderes hvis det skjer tidlig i kursgang.
        </p>
        <p>
            Angrerett: Ved kjøp av kortere kurs og kursrekker gjelder ikke angrerettsloven på samme måte som ved kjøp av f.eks gods på internett.
        </p>

        <h2>Reklamasjon</h2>

        <p>
            Hvis det foreligger en mangel ved varen må kjøper innen rimelig tid etter at den ble oppdaget eller burde ha blitt oppdaget, gi selger melding om at han eller hun vil påberope seg mangelen.
        </p>

        <p>
            Dersom varen har en mangel og dette ikke skyldes kjøperen eller forhold på kjøperens side, kan kjøperen i henhold til reglene i forbrukerkjøpsloven kapittel 6 etter omstendighetene holde kjøpesummen tilbake, velge mellom retting og omlevering, kreve prisavslag, kreve avtalen hevet og/eller kreve erstatning  fra selgeren.
        </p>

        <p>
            Reklamasjon til selgeren bør skje skriftlig.
        </p>

        <h2>Selgerens rettigheter ved kjøperens mislighold</h2>

        <p>
            Dersom kjøperen ikke betaler eller oppfyller de øvrige pliktene etter avtalen eller loven, og dette ikke skyldes selgeren eller forhold på selgerens side, kan selgeren i henhold til reglene i forbrukerkjøpsloven kapittel 9 etter omstendighetene holde varen tilbake, kreve oppfyllelse av avtalen, kreve avtalen hevet samt kreve erstatning fra kjøperen. Selgeren vil også etter omstendighetene kunne kreve renter ved forsinket betaling, inkassogebyr og et rimelig gebyr ved uavhentede varer.
        </p>

        <p>
            Alle som deltar på kurs og arrangementer må følge Bårdar Swing Clubs <a href="https://www.bardarswingclub.no/om-klubben/code-of-conduct/" target="_blank">rettningslinjer (Code of conduct)</a>. Kjøpet kan heves uten refundering om kjøper ikke følger rettningslinjene til klubben.
        </p>

        <h2>Personopplysninger</h2>

        <p>
            Behandlingsansvarlig for innsamlede personopplysninger er selger. Med mindre kjøperen samtykker til noe annet, kan selgeren, i tråd med personopplysningsloven, kun innhente og lagre de personopplysninger som er nødvendig for at selgeren skal kunne gjennomføre forpliktelsene etter avtalen. Kjøperens personopplysninger vil kun bli utlevert til andre hvis det er nødvendig for at selger skal få gjennomført avtalen med kjøperen, eller i lovbestemte tilfelle.
        </p>

        <h2>Kontfliktløsning</h2>

        <p>
            Klager rettes til selger innen rimelig tid, jf. punkt 9 og 10. Partene skal forsøke å løse eventuelle tvister i minnelighet. Dersom dette ikke lykkes, kan kjøperen ta kontakt med Forbrukerrådet for mekling. Forbrukerrådet er tilgjengelig  på  telefon 23  400  500  eller <a href="https://forbrukerradet.no">forbrukerradet.no</a>.
        </p>

        <p>
            Europa-Kommisjonens klageportal kan også brukes hvis du ønsker å inngi en klage. Det er særlig relevant, hvis du er forbruker bosatt i et annet EU-land. Klagen inngis her: <a href="http://ec.europa.eu/odr">http://ec.europa.eu/odr</a>.
        </p>

        <p>
            Har du spørsmål elle kommentarer til salgsbetingelsene kan du kontakte oss:
        </p>

        <ul>
            <li>På epost: info@bardarswingclub.no</li>
        </ul>
    </div>
</div>