@page


@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["col-md-x"] = "col-md-12";
    Layout = "~/Pages/_CoverLayout.cshtml";
}
<div class="card mt-5 shadow">
    <h1 class="card-header">Salgsbetingelser</h1>
    <div class="card-body">
        <p>Sist endret: 17. februar 2022</p>
        <p>Disse salgsbetingelsene gjelder kurs, workshops, varer og tjenester (produkter) hos Bårdar Swing Club ved kjøpt via vår nettside. Salgsbetingelsene utgjør sammen med din bestilling det samlede avtalegrunnlaget for kjøpet./p>
        <p>Forbrukerkjøp er blant annet regulert i forbrukerkjøpsloven, angrerettloven, markedsføringsloven, personopplysningsloven, e-handelsloven og kredittkjøpsloven. Der det i disse salgsbetingelsene stilles krav til skriftlighet, er dette oppfylt ved bruk av epost.</p>
        <h2>Bestillings- og avtaleprosess</h2>
        <p>Din bestilling er bindende når bestillingen (og betalingen) er gjennomført. Kjøp må betales før plassen din på kurs er sikret. Ved manglende betaling kan plassen din bli gitt til noen andre.</p>
        <h2>Betaling</h2>
        <p>Alle produkter hos Bårdar Swing Club kjøpt gjennom vår hjemmeside må betales ved kjøp.</p>
        <h2>Angrerett</h2>
        <p>Angrerettsloven gir deg rett til å angre ditt kjøp ved netthandel. Angreretten gjelder kun for fysiske varer – ikke for påmelding til kurs, månedsabonnement, klippekort eller workshops. Kursavgifter refunderes vanligvis ikke (dette gjelder også workshops, minkurs og andre produkter vi tilbyr). Avbooking pga. sykdom kan refunderes hvis det skjer tidlig i kursgang.</p>
        <p>Angrerett: Ved kjøp av kortere kurs og kursrekker gjelder ikke angrerettsloven på samme måte som ved kjøp av f.eks gods på internett.</p>
        <h2>Kontakt</h2>
        <p>Har du spørsmål elle kommentarer til salgsbetingelsene kan du kontakte oss:</p>
        <ul>
            <li>På epost: info@bardarswingclub.no</li>
        </ul>
    </div>
</div>