<div class="alert alert-warning">
    <h2 class="alert-heading">
        Korona-informasjon
    </h2>

    <p>
        På grunn av situasjonen rundt COVID-19 er det fortsatt usikkert om det blir kurs til høsten. Vi følger med på myndighetenes råd og restriksjoner og vil annonsere på hjemmesiden og på Facebook når vi vet noe om hva slags kurs vi kan holde.
    </p>
</div>
