<div class="alert alert-warning">
    <h2 class="alert-heading">
        Korona-informasjon
    </h2>

    <p>
        Myndighetene har innført en rekke restriksjoner for å stanse koronapandemien. Dette har ført til at styret i Bårdar Swing Club har måttet avlyse alle kurs og arrangementer dette vårsemesteret.
    </p>

    <p>
        Fordi kursene ble avlyst halvveis i semesteret kan alle som har betalt kurs- eller treningsavgift få refundert halvparten av denne dersom de ønsker det.
    </p>
    <p>
        <a class="alert-link" asp-action="Index" asp-controller="Corona">Les mer om refundering av kurs- eller treningsavgift</a>
    </p>
</div>