<div class="alert alert-warning">
    <h2 class="alert-heading">
        Korona-informasjon
    </h2>

    <p>
        På grunn av koronaepidemien bestemte styret i Bårdar Swing Club at alle kurs og arrangementer fra og med 11. mars skulle avlyses. Vi forholder oss nå til anbefalingene til helsemyndighetene og kommer derfor ikke til å arrangere noen flere kurs dette semesteret.
    </p>

    <p>
        Styret har videre bestemt at siden kursene ble avlyst halvveis i semesteret så kan alle som har betalt kurs- eller treningsavgift få refundert halve avgiften.
    </p>
    <p>
        <a class="alert-link" asp-action="Index" asp-controller="Corona">Les mer om korona og refundering av kursavgift</a>
    </p>
</div>