@model CourseSignupModel

<div class="text-muted">
    <span style="color: #0a0">&#x2713;</span> Deltar på kurset

    @if (Model.RoleSignup)
    {
        @: som <strong>@Model.Role.DisplayName().ToLower()</strong>

        @if (Model.AllowPartnerSignup && !string.IsNullOrEmpty(Model.PartnerEmail))
        {
            @: sammen med <strong>@Model.PartnerEmail.ToLower()</strong>
        }
    }
</div>