@using MemberService.Pages.Home
@model ClassSignupModel

<div class="list-group-item">

    <div class="d-block">
        <h4 class="d-inline-block priority">@Model.Title</h4>

        @if (Model.RoleSignup)
        {
            <div class="text-muted">
                @if (Model.AllowPartnerSignup && !string.IsNullOrEmpty(Model.PartnerEmail))
                {
                    @: Påmeldt som <strong>@Model.Role.DisplayName().ToLower()</strong> sammen med <strong>@Model.PartnerEmail</strong>.
                }
                else
                {
                    @: Påmeldt som <strong>@Model.Role.DisplayName().ToLower()</strong>.
                }
            </div>
        }
    </div>
</div>