@model CourseSignupModel

<div class="text-muted">
    <p>
        &#x1F91E; Påmeldt

        @if (Model.RoleSignup)
        {
            @: som <strong>@Model.Role.DisplayName().ToLower()</strong>

            @if (Model.AllowPartnerSignup && !string.IsNullOrEmpty(Model.PartnerEmail))
            {
                @: sammen med <strong>@Model.PartnerEmail.ToLower()</strong>
            }
            else
            {
                @: uten partner.
            }

            <a asp-controller="Signup" asp-action="edit" asp-route-id="@Model.EventId">Endre?</a>
        }

    </p>

    Du vil snart få tilbakemelding om du får plass på kurset
</div>