@using MemberService.Pages.Home
@model ClassSignupModel

<div class="list-group-item">
    <div class="d-block">
        <h4 class="d-inline-block priority">@Model.Title</h4>

        <p class="text-danger">Du har ikke fått plass på dette kurset</p>
    </div>
</div>