@model CourseSignupModel

<div class="text-muted">
    <p>
        &#x23F3; På venteliste

        @if (Model.RoleSignup)
        {
            @: som <strong>@Model.Role.DisplayName().ToLower()</strong>

            @if (Model.AllowPartnerSignup && !string.IsNullOrEmpty(Model.PartnerEmail))
            {
                @: sammen med <strong>@Model.PartnerEmail.ToLower()</strong>
            }

            <a asp-controller="Signup" asp-action="edit" asp-route-id="@Model.EventId">Endre?</a>
        }

    </p>

    Kurset er fullt, men det kan hende det blir noen ledige plasser
</div>
