@model IndexModel

@{
    ViewData["Title"] = "Bårdar Swing Club";
    ViewData["BodyClass"] = "cover";
}

<div class="alert alert-info">
    <h2 class="alert-heading">
        Årsmøte
    </h2>

    <p>        
                Årsmøtet for 2021 vil bli avholdt virtuelt den 16. februar. Alle medlemmer av Bårdar Swing Club er velkommen på årsmøtet. Følg linkenn under for mer informasjon.
    </p>
    <p>
        <a class="alert-link" asp-action="Index" asp-controller="AnnualMeeting">Årsmøtet 2021</a>
    </p>
</div>


<div class="row justify-content-md-center">
    <div class="col-md-4">
        <partial name="_SemesterStatus" model="Model" />
    </div>
    @*<div class="col-md-4">
        <partial name="_EventStatus" for="PartyModel" />
    </div>*@
    <div class="col-md-4">
        <partial name="_EventStatus" for="WorkshopModel" />
    </div>
    <div class="col-md-4">
        <partial name="_EventStatus" for="TrainingModel" />
    </div>
</div>
