@using MemberService.Pages.Home
@model IndexViewModel
@inject Config Config

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Hei @Model.User.UserName</h2>
    @if(Model.HasPayedThisYear)
    {
        <p>Du er medlem i år</p>
    }
    else
    {
        <p>Du har ikke betalt medlemsavgift for i år. Trykk på knappen under for å betale 300,- i medlemsavgift. </p>
        <form asp-controller="Home" asp-action="Pay" method="post">
            <input type="hidden" name="amount" value="30000">

            <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="@Config.Stripe.PublicKey"
                data-amount="30000"
                data-name="Bårdar Swing Club"
                data-description="medlemskap"
                data-image="/img/logo.png"
                data-locale="no"
                data-zip-code="false"
                data-currency="nok"
                data-email="@Model.User.Email"
                data-label="Bli medlem"
                data-allowRememberMe="false">
            </script>
        </form>
    }
</div>
