@page "/"
@model IndexModel

@{
    ViewData["Title"] = "Bårdar Swing Club";
    ViewData["BodyClass"] = "cover";
}

@*<div class="alert alert-info">
    <h2 class="alert-heading">
        Høstens kurs
    </h2>

    <p>
        Det vil bli arrangert kurs i høst! Timeplan og påmeldingsinformasjon kommer snart
    </p>
</div>*@


<div class="row justify-content-md-center">
    <div class="col-md-4">
        <partial name="_SemesterStatus" model="Model" />
    </div>
    <div class="col-md-4">
        <partial name="_EventStatus" for="PartyModel" />
    </div>
    <div class="col-md-4">
        <partial name="_EventStatus" for="WorkshopModel" />
    </div>
    @*<div class="col-md-4">
        <partial name="_EventStatus" for="TrainingModel" />
    </div>*@
</div>
