@using MemberService.Pages.Home
@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hei @Model.User.UserName</h1>
    @if(Model.HasPayedThisYear)
    {
        <p>Du er medlem i år</p>
    }
    else
    {
        <p>Du har ikke betalt medlemsavgift for 2019...</p>
        <form asp-controller="Home" asp-action="Pay" method="post">
            <button type="submit">Betalt nå</button>
        </form>
    }
</div>
