@model IndexModel

@{
    ViewData["Title"] = "Bårdar Swing Club";
    ViewData["BodyClass"] = "cover";
}

<div class="row justify-content-md-center">
    @*<div class="col-md-4">
        <partial name="_SemesterStatus" model="Model" />
    </div>
    <div class="col-md-4">
        <partial name="_EventStatus" for="PartyModel" />
    </div>
    <div class="col-md-4">
        <partial name="_EventStatus" for="WorkshopModel" />
    </div>*@
    <div class="col-md-6">
        <partial name="_SemesterStatus" model="Model" />
    </div>
    <div class="col-md-6">
        <partial name="_EventStatus" for="TrainingModel" />
    </div>
</div>
