@{
    ViewData["Title"] = "Meld deg på kurs";
    Layout = "~/Pages/_CoverLayout.cshtml";
}

<div class="card shadow mt-5">
    <h2 class="card-header text-center">
        Meld deg på kurs
    </h2>
    <div class="card-body text-center pt-5 pb-5">
        <p style="font-size: 1.2em">
            Påmeldingen til kurs er desverre stengt
        </p>
        <p>
            Kurspåmelding åpner vanligvis tidlig i januar og september
        </p>
    </div>

    <div class="card-footer text-center">
        <a href="/Home/Fees">Jeg vil ikke gå kurs, jeg vil bare bli medlem</a>
    </div>
</div>
