@model NotOpenYetModel
@{
    ViewData["Title"] = "Meld deg på kurs";
    Layout = "~/Pages/_CoverLayout.cshtml";
}

<div class="card shadow mt-5">
    <h2 class="card-header text-center">
        Meld deg på kurs
    </h2>
    <div class="card-body text-center pt-5 pb-5">
        <p style="font-size: 1.2em">
            Påmeldingen åpner <strong>@Model.SignupOpensAt.DisplayOslo()</strong>
        </p>
        <p>
            Lurer du på hvordan påmeldingen fungerer? <a href="https://www.bardarswingclub.no/nyheter/2020/01/07/kurs/">Her finner du svar</a>.
        </p>
    </div>

    <div class="card-footer text-center">
        <a asp-page="/Home/Fees">Jeg vil ikke gå kurs, jeg vil bare bli medlem</a>
    </div>
</div>
