@model SignupInputModel

@{
    ViewData["Title"] = "Meld deg på kurs";
    Layout = "~/Pages/_CoverLayout.cshtml";
}

<form method="post" class="card shadow mt-5" id="signup-form">
    <h2 class="card-header text-center">
        Meld deg på kurs
    </h2>

    <div class="card-body collapse show">
        <h5>Før du melder deg på kurs bør du lese dette. </h5>
        <ul>
            <li>Du finner <a href="https://bardarswingclub.com/index.php/kurs/" target="_blank">kursinfo</a> og <a href="https://bardarswingclub.com/index.php/kurs/kursplaner/" target="_blank">timeplan</a> på nettsiden vår.</li>
            <li>Du kan melde deg på så mange kurs du vil, du betaler den samme kursavgiften uansett, men ikke meld deg på flere kurs enn du har kapasitet til å gå på, også mot slutten av semesteret.</li>
            <li>Du vil bli gitt plass på kurs i den rekkefølgen du setter opp på listen; øverst blir høyest prioritert</li>
            <li>Nybegynnerkursene er svært populære; for å være med i trekning av plass må du melde deg på innen midnatt søndagen etter introkursene.</li>
            <li>Du kan melde deg på sammen en partner hvis dere er to som har veldig lyst til å gå sammen</li>
            <li>Du vil få tilbakemelding om du har fått plass på kurset innen en uke etter påmeldingen</li>
            <li>Du kan alltid logge inn på <a href="/">denne siden</a> igjen for å sjekke status</li>
            <li>Du betaler for kurs når du har fått plass</li>
            <li>Det er viktig å betale så fort som mulig, ellers kan plassen din bli gitt til noen andre</li>
            <li>Kursene starter opp en uke etter påmeldingen åpner</li>
            <li>Du må godta våre <a href="https://bardarswingclub.com/index.php/om-klubben/code-of-conduct/" target="_blank">rettningslinjer</a> (Code of conduct) for å delta på kurs</li>
        </ul>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" asp-for="Accept">
            <label asp-for="Accept"></label>
            <span asp-validation-for="Accept" class="text-danger"></span>
                    </div>
        <button type="submit" class="btn btn-success btn-block">OK</button>
        </div>

    <div class="card-footer text-center">
        <a asp-page="/Home/Fees">Jeg vil ikke gå kurs, jeg vil bare bli medlem</a>
    </div>
</form>
