@page
@using MemberService.Data.ValueTypes
@model SurveyModel

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Pages/_CoverLayout.cshtml";
}

<form method="POST" class="card shadow mt-5">
    <h2 class="card-header text-center">
        @Model.Title
    </h2>
    <div class="card-body">
        <vc:survey-response id=Model.SurveyId />
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-success btn-block">OK</button>
    </div>
</form>