@using MemberService.Pages.Signup
@model SignupModel

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Pages/_CoverLayout.cshtml";
}

<form method="POST" asp-page="/Account/Login" class="card shadow">
    <h3 class="card-header">
        @ViewData["Title"]
    </h3>
    <div class="card-body">
        <p class="lead">@Model.Description</p>

        <div class="alert alert-info" role="alert">
            <h5 class="alert-heading">Før du kan melde deg på...</h5>
            Vi trenger e-post addressen din slik at vi kan kontakte deg.
            Fyll inn under så sender vi deg en bekreftelses e-post med videre instrukser. Du kommer tilbake hit til påmeldingen etterpå.
        </div>

        <input type="hidden" name="Input.ReturnUrl" value="/Signup/Event/@Model.Id/@Model.Title.Slugify()">
        <span asp-validation-summary="All" class="text-danger"></span>
        <div class="form-group">
            <label for="Input.Email">E-post</label>
            <input name="Input.Email" class="form-control" placeholder="epost@eksempel.no" autofocus />
        </div>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-success btn-block">Fortsett til påmelding</button>
    </div>
</form>
