@using MemberService.Data.ValueTypes
@using MemberService.Pages.Signup
@model SignupModel

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Pages/_CoverLayout.cshtml";
}

<form method="POST" class="card shadow mt-5">
    <h3 class="card-header">
        @ViewData["Title"]
    </h3>
    <div class="card-body">
        <p class="lead">@Model.Description</p>

        <partial name="_SignupResponse" model=Model />
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-success btn-block">Lagre endringer</button>
    </div>
</form>
