@using MemberService.Pages.Signup
@model SignupModel

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Pages/Shared/_CoverLayout.cshtml";
}

<div class="card shadow">
    <h3 class="card-header">
        @ViewData["Title"]
    </h3>
    <div class="card-body">
        <p class="lead">@Model.Description</p>

        <div class="alert alert-primary">
            Påmeldinge har ikke åpnet ennå.
        </div>
    </div>
</div>