@using MemberService.Pages.Signup
@model SignupModel

@{
    ViewData["Title"] = Model.Title;
}
<h2>@ViewData["Title"]</h2>

<div class="alert alert-primary" role="alert">
    Påmeldinge til dette arrangementet har ikke åpnet ennå.
</div>