@using MemberService.Pages.Signup
@model NotOpenYetModel

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Pages/_CoverLayout.cshtml";
    var date = Model.SignupOpensAt.Value.ToOsloDate();
    var time = Model.SignupOpensAt.Value.ToOsloTime();
}

<div class="card shadow mt-5">
    <h3 class="card-header">
        @ViewData["Title"]
    </h3>
    <div class="card-body">
        <p class="lead">@Model.Description</p>

        <p>@Html.Markdown(Model.SignupHelp)</p>

        <div class="alert alert-primary">
            Påmeldinge åpner @date klokken @time
        </div>
    </div>
</div>