@using MemberService.Pages.Signup
@model SignupModel

@{
    ViewData["Title"] = Model.Title;
}
<h2>@ViewData["Title"]</h2>


<div class="alert alert-success" role="alert">
    <h3 class="alert-headeing">Du er nå påmeldt @Model.Title</h3>
    <p>Du vil få en e-post hvis du får plass på dette arrangementet. Du kan også sjekke statusen på denne og andre påmeldinger <a href="/" class="alert-link">her</>.
</div>