@using MemberService.Pages.Signup
@model SignupModel

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Pages/_CoverLayout.cshtml";
}

<div class="card shadow mt-5">
    <h3 class="card-header">
        @ViewData["Title"]
    </h3>
    <div class="card-body">
        <p class="lead">@Model.Description</p>

        <div class="alert alert-success" role="alert">
            <h3 class="alert-headeing">Du er nå påmeldt @Model.Title</h3>
            <p>
                Du vil få en e-post hvis du får plass på dette arrangementet. Du kan også sjekke statusen på denne og andre påmeldinger <a href="/" class="alert-link">her</a>.
            </p>
        </div>
        
        <p>
            Du kan endre påmeldingen din <a asp-controller="Signup" asp-action="Edit" asp-route-id="@Model.Id">her</a>.
        </p>
    </div>
</div>
