@using MemberService.Pages.Signup
@model SignupModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="jumbotron">
    <h2>@ViewData["Title"]</h2>

    <p class="lead">@Model.Description</p>
</div>

<div class="alert alert-success" role="alert">
    <h3 class="alert-headeing">Du er nå påmeldt @Model.Title</h3>
    <p>Du vil få en e-post hvis du får plass på dette arrangementet. Du kan også sjekke statusen på denne og andre påmeldinger <a href="/" class="alert-link">her</>.
</div>