@using MemberService.Pages.Signup
@model SignupModel

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Pages/Shared/_CoverLayout.cshtml";
}

<div class="card shadow">
    <h3 class="card-header">
        @ViewData["Title"]
    </h3>
    <div class="card-body">
        <p class="lead">@Model.Description</p>

        <div class="alert alert-success" role="alert">
            <h3 class="alert-headeing">Du er nå påmeldt @Model.Title</h3>
            <p>Du vil få en e-post hvis du får plass på dette arrangementet. Du kan også sjekke statusen på denne og andre påmeldinger <a href="/" class="alert-link">her</>.
        </div>
    </div>
</div>
