@page "{orderId?}/{handler?}"
@using MemberService.Pages.Pay
@model VippsModel


@{
    ViewData["Title"] = "Betal med Vipps";
    Layout = "~/Pages/_CoverLayout.cshtml";
}

<div class="card mt-5 shadow">
    <h3 class="card-header">
        Betal med Vipps
    </h3>

    @if (Model.PaymentDetails is null)
    {
        <form method="post" class="card-body">
            <p>
                Trykk på knappen under for å betale med Vipps
            </p>

            <button type="submit" class="btn btn-success btn-block">Betal</button>
        </form>
    }
    else
    {
        <form method="post" asp-page-handler="capture" class="card-body">
            <p>
                Status: @Model.PaymentDetails.TransactionLogHistory.OrderByDescending(d => d.TimeStamp).FirstOrDefault().Operation
            </p>

            <button type="submit" class="btn btn-success btn-block">Capture</button>
        </form>
    }
</div>
