@page
@model LoginCallbackModel
@{
    ViewData["Title"] = "Logg inn";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        Klarte ikke logge inn, <a asp-page="/Account/Login">trykk her</a> for å prøve på nytt.
    </p>
</div>
