@page
@model RegisterModel
@{
    ViewData["Title"] = "Opprett bruker";
    Layout = "~/Pages/Shared/_CoverLayout.cshtml";
}

@section AboveCover
{
    <div class="alert alert-info shadow-sm mb-5" role="alert">
        Hei og velkommen til Bårdar Swing Club!
    </div>
}

<form method="post" class="card shadow">
    <h3 class="card-header">
        Opprett bruker
    </h3>
    <div class="card-body">
        <input type="hidden" asp-for="Input.ReturnUrl" />
        <span asp-validation-summary="All" class="text-danger"></span>
        <div class="form-group">
            <label asp-for="Input.FullName"></label>
            <input asp-for="Input.FullName" class="form-control" />
            <span asp-validation-for="Input.FullName" class="text-danger"></span>
        </div>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-success btn-block">Fullfør</button>
    </div>
</form>