@using MemberService.Pages.Event
@model IReadOnlyList<EventSignupModel>

<tbody>
    @if(Model.NotAny())
    {
        <tr>
            <td colspan="3" class="text-center text-uppercase text-muted">Ingen</td>
        </tr>
    }

    @for(var i = 0; i < Model.Count; i++)
    {
        var signup = Model[i];
        <tr>
            <td>
                <input type="hidden" asp-for="@Model[i].Id">
                <input type="checkbox" asp-for="@Model[i].Selected">
            </td>
            <td>
                @signup.FullName
            </td>
            <td>
                @signup.SignedUpAt
            </td>
        </tr>
    }
</tbody>