@model EventInputModel

@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.Description;
    ViewData["Id"] = Model.Id;
    ViewData["Selected"] = "edit";
}

<form method="POST" asp-action="Edit" asp-route-id="@Model.Id" class="form-row justify-content-between">
    <partial name="_EditEvent" model="@Model" />
    <div class="col-md-12 mt-2">
        <button type="submit" class="btn btn-success">Lagre</button>
        <button class="btn btn-outline-danger" form="archive-form">Arkiver</button>
    </div>
</form>

<form method="POST" asp-action="SetStatus" asp-route-id="@Model.Id" id="archive-form">
    <input type="hidden" name="status" value="archive" />
</form>
