@page
@model IndexModel
@{
    ViewData["Title"] = "Min profil";
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="card-deck">
    <div class="card">
        <h3 class="card-header">
            Min profil
        </h3>
        <form class="card-body" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.FullName"></label>
                <input asp-for="Input.FullName" class="form-control" />
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Lagre</button>
        </form>
    </div>
    @if(Model.Payments.Any())
    {
        <partial name="_Payments" for="Payments" />
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}