@{
    ViewData["Title"] = "Admin";
}

@if(TempData["message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["message"]
    </div>
}

<h2>Importer fra Stripe</h2>
<hr />
<form asp-action="Import" method="POST">
    <label>Alt etter <input type="date" name="after" value="@DateTime.Now.ToString("yyyy-MM-dd")"></label>
    <button type="submit">Importer</button>
</form>
