@using MemberService.Pages.Admin

@{
    ViewData["Title"] = "Admin";
}

<div class="card mb-3">
    <h3 class="card-header">
        Importer fra Stripe
    </h3>
    <form class="card-body form-inline" asp-action="Import" method="POST">
        <label>Alt etter </label>
        <input class="form-control mr-2 ml-2" type="date" name="after" value="@DateTime.Now.ToString("yyyy-MM-dd")">
        <button type="submit" class="btn btn-success">Importer</button>
    </form>
</div>
