@model SemesterModel

@{
    ViewData["Title"] = "Ingen semester";
}

<h2>
    Ingen aktive semester
</h2>

<p>Det er ingen aktive semester</p>

@if (await AuthorizationService.IsAuthorized(User, Policy.CanCreateSemester))
{
    <a class="btn btn-success" asp-controller="Semester" asp-action="Create">Opprett semester...</a>
}

<br />
<hr />
<br />

<a asp-controller="Semester" asp-action="List">Se tidligere semester</a>